section.contact-hero{

    h1{
        text-align: center;
        opacity: 0;
        animation: fadeIn 0.5s 0.3s linear forwards;
        @media screen and (min-width: $mobile-BP){
            margin-bottom: 80px;
        }
    }

    .content{
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
        opacity: 0;
        animation: fadeIn 0.5s 0.4s linear forwards;


        .text{
            width: 100%;
            h3{
                text-transform: uppercase;
            }
            @media screen and (min-width: $tablet-BP) {
                width: 380px;
                padding-right: 60px;
            }

            div.button-container-threeD {
                position: relative;
                display: block;
                width: 160px;
                height: 35px;
                top: auto;
                bottom: auto;
                right: auto;
                left: auto;
                margin: 0 auto;
                margin-left: 20px;
        
                .play-button {
                    font-size: 13px;
                    letter-spacing: 1px;
                }
        
            }

            p.location-p{
                margin-top: 60px;
            }
        }

        .img-container{
            width: 100%;
            width: auto;
            margin-top: 40px;
            display: flex;
            align-items: center;

            @media screen and (min-width: $tablet-BP) {
                flex: 1;
                margin-top: 0;
            }
            >div{
                position: relative;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }

            .zoom-in{
                position: absolute;
                bottom: -20px;
                right: 0;
                color: $white;
                cursor: pointer;
                display: none;
                
                @media screen and (min-width: $mobile-BP) {
                    display: initial;
                }
            

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
.modal-img{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.3s 0.3s ease-in-out;
    display: none;

    @media screen and (min-width: $mobile-BP) {
        display: flex;
    }

    &.open{
        transform: scale(1);
        transition: transform 0.3s 0s ease-in-out;
        // transition: transform 0.3s 0.3s ease-in-out;
        img{
            opacity: 1;
            transition: opacity 0.3s 0.3s ease-in-out;
            // transition: opacity 0.3s 0s ease-in-out;
        }
    }

    i {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 23px;
        height: 23px;
        margin-left: 25px;
        cursor: pointer;
        transition: transform 0.3s linear;

        &:hover{
            transform: scale(1.1);
        }

        // @media screen and (min-width: $mobile-BP) {}

        &:before,
        &:after {
            content: '';
            position: absolute;
            background-color: $black;
            height: 3px;
            width: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            transform-origin: center;
            transition: transform 0.3s ease-out;
        }

        &:after {
            transform: rotate(45deg);
        }
        &:before {
            transform: rotate(-45deg);
        }
    }

    img{
        width: 90%;
        opacity: 0;
        transition: opacity 0.3s 0s ease-in-out;
    }
}