section.get-in-touch{
    color: $black;
    background: linear-gradient(45deg, #98DEFF, #E96DFF);
    
    @media screen {
        margin-top: 5em;
        margin-bottom: 5em;
    }

    >div{
        display: flex;
        flex-wrap: wrap;
        @media screen and (min-width: 830px){
            justify-content: space-between;
            flex-wrap: unset;
            padding: 8em 2em;
        }

        .col{
            width: 100%;

            &:nth-child(2){
                margin-top: 40px;
            }

            @media screen and (min-width: 830px){
                &:nth-child(1){
                    max-width: 480px;
                    padding-right: 30px;
                }
                &:nth-child(2){
                    flex-grow: 1;
                    max-width: 550px;
                    padding-left: 30px;
                    margin-top: 0;
                }
            }

            &.one{
                h3 {
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    text-transform: uppercase;
    
                    &:nth-child(1){
                        margin-top: 0;
                    }
                }
    
                p {
                    margin-top: 0;
                }
    
                a {
                    font-weight: bold;
                    text-decoration: none;
    
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}