// div.graphic-container-mobile{
//     display: block;
//     overflow: hidden;
//     padding-top: 2em;
//     margin-left: -50px;

//     display: none;
//     @media screen and (min-width: 830px) {
//         display: none;
//     }
//     svg{
//         width: 110%;
//     }
// }

section.opening-soon{
    overflow: hidden;
    
    @media screen and (min-width: 830px) {
        padding-right: 0;
    }
    
    >div{
        padding-top: 5em;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        

        @media screen and (min-width: $mobile-BP) {
            padding-right: 0;
        }

    }

    .content{
        width: 100%;
        
        // @media screen and (min-width: $mobile-BP) {
        //     width: 70%;
        // }
        @media screen and (min-width: 830px) {
            width: 40%;
        }

        img, p{
            opacity: 0;
            transition: opacity 0.4s 0.3s linear;
        }

        img{
            width: 200px;
        }

        p{
            transition-delay: 0.4s;
        }

        &.animated{
            img, p{
                opacity: 1;
            }
        }
    }

    .graphic-container{
        // display: none;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        margin-top: 60px;

        @media screen and (min-width: 830px) {
            flex: 1;
            display: block;
            padding-left: 100px;
            margin-top: 0;
        } 

        svg{
            display: block;
            margin-left: auto;

            @media screen and (min-width: 830px) {
                margin-right: -100px;
            } 

            // path {
            //     opacity: 0;
            // }
        }
    }
}