div.sign-up {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 950;
    display: none;
    opacity: 0;

    &.black-modal {
        background-color: rgba($color: #000000, $alpha: 0.4);

        .button-container-threeD {
            .play-button {
                background: white;
                border-top: 1px solid black;
                border-right: 1px solid black;
                svg {
                    polygon{
                        fill: black;
                    }
                }
            }

            .bottom,
            .left {
                border: 1px solid black;
                background: white;

                &:before {
                    background-color: black;
                }
            }
        }

        .form-container{
            background-color: black;
            color: white;
            form{
                input{
                    color: white;
                    border-bottom: 2px solid white;
                    background-color: black;
                    &::placeholder {
                        color: white;
                    }
                }
                div {
                    button {
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
    }

    .button-container-threeD {
        position: absolute;
        top: 30px;
        right: 20px;
        width: 22px;
        height: 22px;

        .play-button {
            background: black;
            border-top: 1px solid white;
            border-right: 1px solid white;

            svg {
                width: 10px;
                polygon{
                    fill: white;
                }
            }
        }

        .bottom,
        .left {
            border: 1px solid white;
            background: black;

            &:before {
                background-color: white;
            }
        }

        .bottom {
            bottom: -7px;
            height: 8px;
            width: 103%;
            left: -4px;
        }

        .left {
            left: -8px;
            height: 100%;
            width: 8px;
            bottom: -3px;
        }

        &:hover {
            .bottom {
                bottom: -4px;
                height: 4px;
                left: -2px;

                &:before {
                    right: 2px;
                    top: 0px;
                }
            }

            .left {
                left: -4px;
                width: 4px;
                bottom: -2px;

                &:before {
                    top: 2px;
                }
            }
        }
    }

    .form-container {
        padding:  80px 40px;
        background-color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 90%;
        position: relative;

        @media screen and (min-width: $mobile-BP){
            padding: 80px;
        }

        @media screen and (min-width: 810px) {
            width: 800px;
        }

        h4 {
            margin-top: 0;
            margin-bottom: 20px;
            font-size: 26px;
        }

        p {
            margin: 0;
        }

        form {
            margin-top: 30px;
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 5%;
            row-gap: 20px;

            @media screen and (min-width: $mobile-BP) {
                grid-template-rows: auto auto 1fr;
                grid-template-columns: 75% 20%;
            }

            input {
                height: 35px;
                border-radius: 0;
                box-shadow: none;
                outline: none;
                border: none;
                color: black;
                border-bottom: 2px solid black;
                font-family: $ff-sansSerif;
                grid-column: 1;

                &::placeholder {
                    color: black;
                }

                @media screen and (min-width: $mobile-BP) {
                    &.zip {
                        grid-column: 2 / 3;
                    }

                    &.name {
                        grid-column: 1 / 2;
                    }

                    &.email {
                        grid-column: 1 / 3;
                    }
                }
            }

            div {
                text-align: center;
                margin-top: 15px;

                @media screen and (min-width: $mobile-BP) {
                    grid-column: 1 / 3;
                }

                button {
                    background-color: black;
                    padding: 12px 20px;
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    margin: 0;
                    font-weight: bold;
                }
            }
        }
    }
}