body{
	background-color: $black;
	color: $white;
	transition: all 0.4s ease-in-out;
	fill: $white;
	&.white{
		background-color: $white;
		color: $black;
		fill: $black;

		footer div.button-container-threeD .play-button {
			border-top: 1px solid $white;
			border-right: 1px solid $white;
			color: $white;
			background-color: $black;

			.bottom,
			.left {
				border: 1px solid $white;
				background-color: $black;

				&:before {
					background-color: $white;
				}
			}
		}

		section.exhibitions .exhibit .inner .back{
			background-color: $black;
			color: $white;
		}

		section.faq-content .accordion .accordionItem{
			border-color: $black;
			.accordionItemHeading i{
				&:before, &:after{
					background-color: $black;
				}
			}
		}

		section.sign-up{
			.sign-up-container{
				border-color: $black;
			}
			
			form.sign-up{
				input:not(#mc-embedded-subscribe){
					color: $black;
					border-bottom: 2px solid $black;
					&::placeholder{
						color: $black;
					}
				}

				div input[type=submit]{
					background-color: $black;
					color: $white;
				}
			}
		}

		nav .hamburger > div > div > span.burger__inner__bun{
			background-color: $black;
		}
	}
}