/*----------------------------------------------------------------*\
		FORMS
\*----------------------------------------------------------------*/


form.contact {
    // margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 4%;
    row-gap: 30px;

    @media screen and (min-width: $mobile-BP) {
        grid-template-columns: 48% 48%;
    }

    input:not(.submit) {
        height: 40px;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        border: none;
        color: black;
        border-bottom: 2px solid black;
        background-color: transparent;
        font-family: $ff-sansSerif;
        grid-column: 1;
        // font-size: 17px;

        &.error{
            border-color: red;
        }

        &::placeholder {
            color: black;
        }

        @media screen and (min-width: $mobile-BP) {
            &.name {
                grid-column: 1 / 2;
            }

            &.phone {
                grid-column: 2 / 3;
            }

            &.email,
            &.message {
                grid-column: 1 / 3;
            }
        }
    }

    div {
        margin-top: 15px;

        @media screen and (min-width: $mobile-BP) {
            grid-column: 1 / 3;
        }

        input[type=submit] {
            background-color: black;
            padding: 12px 20px;
            padding-bottom: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin: 0;
            font-weight: bold;
            font-size: 16px;
            transition: transform 0.3s linear;
            color: $white;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .spinner-container{
        position: relative;
        width: 100%;
        height: 50px;
        margin-top: 0;
        display: none;
    }

    .spinner {
        animation: rotate-spinner 2s linear infinite;
        margin: -25px 0 0 -25px;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto 0;
        

        & .path {
            stroke: $black;
            stroke-linecap: round;
            animation: dash 1.5s ease-in-out infinite;
        }

    }

    .message-container{
        margin-top: 0;
        display: none;
    }

    @keyframes rotate-spinner {
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes dash {
        0% {
            stroke-dasharray: 1, 150;
            stroke-dashoffset: 0;
        }

        50% {
            stroke-dasharray: 90, 150;
            stroke-dashoffset: -35;
        }

        100% {
            stroke-dasharray: 90, 150;
            stroke-dashoffset: -124;
        }
    }

    #submit-msg {
        width: 100%;
        margin-bottom: 0;
    }
}


form.sign-up {
    // margin-top: 50px;
    display: flex;
    flex-wrap: wrap;

    input:not(#mc-embedded-subscribe) {
        height: 35px;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        border: none;
        color: $white;
        border-bottom: 2px solid $white;
        font-family: $ff-sansSerif;
        grid-column: 1;
        // font-size: 17px;
        width: 100%;
        background-color: transparent;
        margin-bottom: 30px;

        &::placeholder {
            color: $white;
        }
    }

    div {
        text-align: center;
        margin-top: 15px;
        width: 100%;

        input[type=submit] {
            background-color: $white;
            padding: 12px 20px;
            padding-bottom: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin: 0;
            font-weight: bold;
            font-size: 17px;
            transition: transform 0.3s linear;
            color: $black;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}