div.scroller-tagline {
    padding: 3em 0 4em;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;

    @media(min-width: $mobile-BP) {
        padding: 4em 0 5em;
    }


    .wrapper {
        display: flex;
        flex-wrap: nowrap;
    }

    .scroller {
        display: flex;
        align-items: center;

        p {
            margin: 0;
            padding-right: 30px;
            font-size: 35px;
            animation: scrollHorizontal 20s linear infinite;

            span {
                font-size: 38px;
                font-weight: bold;
            }

            // @media screen and (min-width: $mobile-BP) {
            //     font-size: 40px;
            // }
        }
    }
}