<section class="about-hero">
    <div>
        <h1 class="hero-header">About</h1>
        <div class="content">
            <div class="img-container">
                <img class="loop-img" src="/media/about/hop1.svg" alt="">
                <img class="loop-img" src="/media/about/hop2.svg" alt="">
                <img class="loop-img" src="/media/about/hop3.svg" alt="">
                <img class="loop-img" src="/media/about/hop4.svg" alt="">
            </div>
            <div class="text">
                <p class="is-large">{{entry.aboutDescription}}</p>
            </div>
        </div>
    </div>
</section>