<section class="about-hero">
    <div>
        <h1 class="hero-header">About</h1>
        <div class="content">
            <div class="img-container">
                <img class="loop-img" src="/media/about/hop1.svg" alt="">
                <img class="loop-img" src="/media/about/hop2.svg" alt="">
                <img class="loop-img" src="/media/about/hop3.svg" alt="">
                <img class="loop-img" src="/media/about/hop4.svg" alt="">
            </div>
            <div class="text">
                <p class="is-large">Hopscotch was founded in 2018 in Austin, TX with the goal to provide consumers with unique, impactful
                    and distinct immersive experiences. We create spaces for local, national and international artists
                    to showcase their works in sustainable and creative ways, encourage them to be inspired by new
                    mediums and empower them to reach new audiences.</p>
            </div>
        </div>
    </div>
</section>