<section class="contact-hero">
    <div>
        <h1 class="hero-header">Contact</h1>
        <div class="content">
            <div class="text">
                <h3 class="h4">Visit Us</h3>
                <p class="is-large">711 Navarro, Suite 100 <br> San Antonio, TX 78205</p>
                <div class="button-container-threeD news-open" id="news-open-two">
                    <a href="#" target="_blank" class="play-button">Get Directions
                        <div class="left"></div>
                        <div class="bottom"></div>
                    </a>
                </div>
                <p class="location-p">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                    Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
            <div class="img-container">
                <img src="/media/contact/map_placeholder.png" alt="Hopscotch Map">
            </div>
        </div>
    </div>
</section>