<section class="contact-instructions">
    <div>
        <div class="flex-container">
            <div class="col one">
                <div class="instruction">
                    <h4 class="inst-header">Parking</h4>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas
                        eget
                        quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Donec
                        sed odio dui. Donec id elit non mi porta gravida at eget metus.</p>
                </div>
                <div class="instruction">
                    <h4 class="inst-header">Stay a While</h4>
                    <p>Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Donec
                        id
                        elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat
                        porttitor
                        ligula, eget lacinia odio sem nec elit.</p>
                </div>
                <div class="instruction">
                    <h4 class="inst-header">More Info</h4>
                    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta
                        gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a
                        ante
                        venenatis dapibus posuere velit aliquet.</p>
                </div>
            </div>
            <div class="col two">
                <div class="instruction">
                    <h4 class="inst-header">Public Transportation</h4>
                    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit
                        tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="hours">
                    <div class="bottom"></div>
                    <div class="left"></div>
                    <div class="content">
                        <h4 class="h4">Hours</h4>
                        <div class="hour-slot">
                            <h6 class="day">Friday</h6>
                            <time>2:00 pm-11:00 pm</time>
                            <p class="is-small">(Last ticket 9:00pm)</p>
                        </div>
                        <div class="hour-slot">
                            <h6 class="day">Saturday</h6>
                            <time>11:00 am-11:00 pm</time>
                            <p class="is-small">(Last ticket 9:00pm)</p>
                        </div>
                        <div class="hour-slot">
                            <h6 class="day">Sunday</h6>
                            <time>12:00 pm-9:00 pm</time>
                            <p class="is-small">(Last ticket 7:30pm)</p>
                        </div>
                        <p class="disclosure is-small">Nullam quis risus eget urna mollis ornare vel eu leo.
                            Maecenas faucibus mollis
                            interdum. Cras mattis consectetur purus sit amet fermentum. Etiam porta sem malesuada
                            magna mollis
                            euismod. Curabitur blandit tempus porttitor.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="covid-cta">
            <h3 class="h4">How are we responding to covid-19</h3>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo
                cursus magna, vel scelerisque nisl consectetur et. Fusce dapibus, tellus ac cursus commodo.</p>
            <div class="button-container-threeD news-open" id="news-open-two">
                <a href="#" target="_blank" class="play-button">Get Tickets
                    <div class="left"></div>
                    <div class="bottom"></div>
                </a>
            </div>
        </div>
    </div>
</section>