<section class="contact-instructions">
    <div>
        <div class="flex-container">
            <div class="col one">
                <div class="instruction">
                    <h4 class="inst-header">Free Parking</h4>
                    <p>{{entry.parking|nl2br}}</p>
                </div>
                <div class="instruction">
                    <h4 class="inst-header">Stay a While</h4>
                    <p>{{entry.stayAWhile|nl2br}}</p>
                </div>
                <div class="instruction">
                    <h4 class="inst-header">More Info</h4>
                    <p>{{entry.moreInfo|nl2br}}</p>
                </div>
            </div>
            <div class="col two">
                <div class="instruction">
                    <h4 class="inst-header">Public Transportation</h4>
                    <p>{{entry.publicTransportation|nl2br}}</p>
                </div>
                <div class="hours">
                    <div class="bottom"></div>
                    <div class="left"></div>
                    <div class="content">
                        <h4 class="h4">Hours</h4>
                        {% for time in entry.hours %}
                        <div class="hour-slot">
                            <h6 class="day">{{time.day}}</h6>
                            <time>{{time.hours}}</time>
                            <p>{{time.lastTicketTime}}</p>
                        </div>
                        {% endfor %}
                        <p class="disclosure">{{entry.hoursDescription|nl2br}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="covid-cta">
            <h3 class="h4">{{entry.covidResponseHeader}}</h3>
            {{entry.covidResponse}}
            <div class="button-container-threeD news-open" id="news-open-two">
                <a href="{{hopscotch.getTicketsLink}}" target="_blank" class="play-button">Get Tickets
                    <div class="left"></div>
                    <div class="bottom"></div>
                </a>
            </div>
        </div>
    </div>
</section>