{% set map = entry.hopscotchMap.one() %}
<section class="contact-hero">
    <div>
        <h1 class="hero-header">Contact</h1>
        <div class="content">
            <div class="text">
                <h3 class="h4">Visit Us</h3>
                {% for item in entry.address %}
                <p class="is-large">{{item.address|nl2br}}</p>
                <div class="button-container-threeD news-open" id="news-open-two">
                    <a href="{{item.googleMapLink}}" target="_blank" class="play-button">Get Directions
                        <div class="left"></div>
                        <div class="bottom"></div>
                    </a>
                </div>
                {% endfor %}
                <p class="location-p">{{entry.addressDescription|nl2br}}</p>
            </div>
            <div class="img-container">
                <div>
                    <img src="{{map.url}}" alt="Hopscotch Map">
                    <div class="zoom-in">zoom in</div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal-img">
    <i aria-label="close modal"></i>
    <img src="{{map.url}}" alt="Hopscotch Map">
</div>