{% set guidelines = entry.covidGuidelines.all() %}
<section class="covid-main">
    <div>
        <h1 class="hero-header">Covid-19</h1>
        <div class="content">
            <div class="intro">
                <p class="is-large">{{entry.covidIntroPargraph|nl2br}}</p>
            </div>
            <div class="guidelines">
                {% for guideline in guidelines %}
                {% set graphic = guideline.numberGrpahic.one() %}
                <div class="guideline">
                    <img src="{{graphic.url}}" alt="{{loop.index}}">
                    <h3 class="h4">{{guideline.guidelineHeader}}</h3>
                    <p>{{guideline.guidelineContent}}</p>
                </div>
                {% endfor %}
            </div>
            <div class="outro">
                <p class="is-large">If are not feeling well, have tested positive for COVID-19 or feel you have been exposed to someone with COVID-19 please email contact@letshopcotch.com and we will help you reschedule your visit.</p>
                <p class="is-large">By visiting Hospcotch, you voluntarily assume all risks related to exposure of COVID-19.</p>
            </div>
        </div>
    </div>
</section>