<section class="exhibitions">
    <div>
        <h2><img src="/media/about/exhibitions.svg" alt="Exhibitions"></h2>
        <div class="exhibits">
            <div class="exhibit">
                <div class="inner">
                    <div class="back">
                        <div class="text">
                            <p class="status is-small">Current</p>
                            <h4 class="title">Show it 2 Me</h4>
                            <div class="author">
                                <h6>Titmouse</h6>
                                <p class="location is-small">(Los Angeles, CA/New York, NY/Vancouver, CA)</p>
                            </div>
                        </div>
                    </div>
                    <div class="front">
                        <div class="img-container">
                            <img src="/media/about/exhibits/Exhibitions-Deep-Eddy-Ball-Pit.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="exhibit">
                  <div class="inner">
                    <div class="back">
                        <div class="text">
                            <p class="status is-small">Current</p>
                            <h4 class="title">Inifnity Boxes</h4>
                            <div class="author">
                                <h6>Matt Elson</h6>
                                <p class="location is-small">(Los Angeles, CA)</p>
                            </div>
                        </div>
                    </div>
                    <div class="front">
                        <div class="img-container">
                            <img src="/media/about/exhibits/Exhibitions-Experiences-Over-Things.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="exhibit">
                  <div class="inner">
                    <div class="back">
                        <div class="text">
                            <p class="status is-small">Current</p>
                            <h4 class="title">Rainbow Cave</h4>
                            <div class="author">
                                <h6><a target="_blank" href="https://www.basiagoszczynska.com/">Basia Goszczynska </a></h6>
                                <p class="location is-small">(Brooklyn, NY)</p>
                            </div>
                        </div>
                    </div>
                    <div class="front">
                        <div class="img-container">
                            <img src="/media/about/exhibits/Exhibitions-From-The-Outside-In.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="exhibit">
                  <div class="inner">
                    <div class="back">
                        <div class="text">
                            <p class="status is-small">Current</p>
                            <h4 class="title">Quantum Space</h4>
                            <div class="author">
                                <h6><a target="_blank" href="https://kuflex.com/">Kuflex</a></h6>
                                <p class="location is-small">(Moscow, Russia)</p>
                            </div>
                        </div>
                    </div>
                    <div class="front">
                        <div class="img-container">
                            <img src="/media/about/exhibits/Exhibitions-HOPE-Campaign.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="exhibit">
                  <div class="inner">
                    <div class="back">
                        <div class="text">
                            <p class="status is-small">Current</p>
                            <h4 class="title">Symbiosis</h4>
                            <div class="author">
                                <h6><a target="_blank" href="https://kuflex.com/">Kuflex</a></h6>
                                <p class="location is-small">(Moscow, Russia)</p>
                            </div>
                        </div>
                    </div>
                    <div class="front">
                        <div class="img-container">
                            <img src="/media/about/exhibits/Exhibitions-Infinity-Boxes.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="exhibit">
                  <div class="inner">
                    <div class="back">
                        <div class="text">
                            <p class="status is-small">Current</p>
                            <h4 class="title">Lightlines</h4>
                            <div class="author">
                                <h6><a target="_blank" href="https://campbella.com/">Campbella</a></h6>
                                <p class="location is-small">(Austin, TX/San Francisco, CA)</p>
                            </div>
                        </div>
                    </div>
                    <div class="front">
                        <div class="img-container">
                            <img src="/media/about/exhibits/Exhibitions-Lightlines.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="exhibit">
                  <div class="inner">
                    <div class="back">
                        <div class="text">
                            <p class="status is-small">Current</p>
                            <h4 class="title">VJ Yourself</h4>
                            <div class="author">
                                <h6><a target="_blank" href="http://www.playmodes.com/">Playmodes</a></h6>
                                <p class="location is-small">(Barcelona, Spain)</p>
                            </div>
                        </div>
                    </div>
                    <div class="front">
                        <div class="img-container">
                            <img src="/media/about/exhibits/Exhibitions-Matrix.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="exhibit">
                  <div class="inner">
                    <div class="back">
                        <div class="text">
                            <p class="status is-small">Current</p>
                            <h4 class="title">Homeroom</h4>
                            <div class="author">
                                <h6>Gary Sweeney</h6>
                                <p class="location is-small">(Los Angeles, CA/New York, NY, Vancouver, CA)</p>
                            </div>
                        </div>
                    </div>
                    <div class="front">
                        <div class="img-container">
                            <img src="/media/about/exhibits/Exhibitions-Paint-With-RBG-Wall.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="exhibit">
                  <div class="inner">
                    <div class="back">
                        <div class="text">
                            <p class="status is-small">Current</p>
                            <h4 class="title">Strange Slant of Light</h4>
                            <div class="author">
                                <h6><a target="_blank" href="http://www.amadamiller.com/">Amada Miller</a></h6>
                                <p class="location is-small">(San Antonio, TX)</p>
                            </div>
                        </div>
                    </div>
                    <div class="front">
                        <div class="img-container">
                            <img src="/media/about/exhibits/Exhibitions-Rainbow-Cave.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="exhibit">
                  <div class="inner">
                    <div class="back">
                        <div class="text">
                            <p class="status is-small">Current</p>
                            <h4 class="title">Inifnity Boxes</h4>
                            <div class="author">
                                <h6>Matt Elson</h6>
                                <p class="location is-small">(Los Angeles, CA/New York, NY, Vancouver, CA)</p>
                            </div>
                        </div>
                    </div>
                    <div class="front">
                        <div class="img-container">
                            <img src="/media/about/exhibits/Exhibitions-Show-It-2-Me.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="exhibit">
                  <div class="inner">
                    <div class="back">
                        <div class="text">
                            <p class="status is-small">Current</p>
                            <h4 class="title">Inifnity Boxes</h4>
                            <div class="author">
                                <h6>Matt Elson</h6>
                                <p class="location is-small">(Los Angeles, CA/New York, NY, Vancouver, CA)</p>
                            </div>
                        </div>
                    </div>
                    <div class="front">
                        <div class="img-container">
                            <img src="/media/about/exhibits/Exhibitions-Spirits.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="exhibit">
                  <div class="inner">
                    <div class="back">
                        <div class="text">
                            <p class="status is-small">Current</p>
                            <h4 class="title">Inifnity Boxes</h4>
                            <div class="author">
                                <h6>Matt Elson</h6>
                                <p class="location is-small">(Los Angeles, CA/New York, NY, Vancouver, CA)</p>
                            </div>
                        </div>
                    </div>
                    <div class="front">
                        <div class="img-container">
                            <img src="/media/about/exhibits/Exhibitions-Thunder-And-Lightnight.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>