{% set exhibitions = entry.exhibitions.all() %}
<section class="exhibitions">
    <div>
        <h2><img src="/media/about/exhibitions.svg" alt="Exhibitions"></h2>
        <div class="exhibits">
            {% for exhibit in exhibitions %}
            {% set pic = exhibit.picture.one() %}
            <div class="exhibit">
                <div class="inner">
                    <div class="back">
                        <div class="text">
                            <p class="status is-small">{% if exhibit.exhibitStatus %}Current{% else %}Past{% endif %}</p>
                            <h4 class="title">{{exhibit.exhibitName}}</h4>
                            <div class="author">
                                <h6>
                                    {% if exhibit.authorLink is empty %}
                                        {{exhibit.exhibitAuthor}}
                                    {% else %}
                                        <a target="_blank" href="{{exhibit.authorLink}}">{{exhibit.exhibitAuthor}}</a>
                                    {% endif %}
                                </h6>
                                <p class="location is-small">{{exhibit.authorLocation}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="front">
                        <div class="img-container">
                            <img src="{{pic.url}}" alt="{{exhibit.exhibitName}}">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>