<section class="faq-content">
    <div>
        <h1 class="hero-header">FAQ</h1>

        <div class="faq-container">
            <div class="faq-section">
                <h3 class="h4 section-title">THE BASICS</h3>
                <div class="accordion accordionWrapper">
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Where are you located?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>We are located in the Travis Park Plaza Building at 711 Navarro. Please visit our
                                Contact page for more information.</p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>What are your hours?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Please visit our <a href="/contact">Contact</a> page to view our hours of operation.
                            </p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Where do I park? Is it free?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Three hour validated parking will be provided for all guests who park in the Travis
                                Park Plaza Garage. Enter off of Travis Street between Navarro and St. Mary’s. Bring
                                your parking ticket with you and show it to Hopscotch staff to receive your
                                validation. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-section">
                <h3 class="section-title">Ticketing and admission</h3>
                <div class="accordion accordionWrapper">
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>How much are tickets?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>$24 for Adults (13 - 59) <br>
                                $20 for Seniors, Veterans, Teachers, Healthcare Workers & Students
                                (Must show valid ID) <br>
                                $15 for Children (4-12) <br>
                                $0 for Children (0-3)
                            </p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Do I have to have a ticket to enter?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>You do not have to have a ticket for our public lounge, gift shop, patio or food
                                truck spaces. You will need a ticket to enter our gallery space. Due to COVID
                                restrictions you may experience wait times to enter the public spaces if we are at
                                capacity.</p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Can I buy tickets at the door?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>We highly recommend purchasing tickets in advance. Limited tickets may be available
                                day-of, but can not be guaranteed. You do not need to print your ticket, please
                                bring your electronic copy that was emailed to you at time of purchase.</p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Can I pay in cash?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>As part of our ongoing safety measures, Hopscotch is now cashless. All guests must
                                pay via credit or debit card for all purchases. </p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Do I have to sign a waiver?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>All guests must sign a waiver online before entering or at our check-in desk upon
                                entering the space.
                            </p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Can I transfer my ticket?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Tickets are non-refundable and non-transferrable. One person's ID in your party must
                                match the name on one ticket (the rest of the names are interchangeable).</p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>What time do I need to arrive for my timed ticket?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>You are welcome to arrive early to enjoy a beverage from our lobby lounge or purchase
                                bites from our food truck. You may enter the gallery no earlier than 15 minutes
                                prior to your scheduled ticket time. If you arrive 30 minutes after your purchased
                                time slot, you will not be guaranteed access into the gallery.</p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>What do I need for check in?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Please bring your photo ID and an electronic copy of your ticket. Tickets are
                                non-refundable and non-transferrable. One person's ID in your party must match the
                                name on one ticket (the rest of the names are interchangeable). Once inside you’ll
                                sign a required liability waiver and get a brief orientation on how best to
                                experience Hopscotch!</p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Can I leave and come back in?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>If you are following our safety guidelines, you may enter as long as we aren’t
                                capacity. You will not be able to re-enter the gallery space once you have exited.
                            </p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Can I change my ticket time or get a refund?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>All ticket sales are final. Tickets are non-refundable and non-transferable.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-section">
                <h3 class="section-title">THE EXPERIENCE</h3>
                <div class="accordion accordionWrapper">
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>How long is the gallery experience?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>It varies for each guest; we recommend spending at least an hour so that you have
                                time to explore each different installation. Afterward, explore our gift shop and
                                stay to talk about your experience over some great local food and beverage on our
                                patio.</p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Is Hopscotch for all ages?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Hopscotch welcomes all audiences, though some installations may be more adult-focused
                                than others. Children under the age of 18 must be accompanied by an adult at all
                                times. Guests under 18 are not allowed after 7:00pm. Many installations are more
                                about looking or listening than touching, so we ask that adults supervise
                                accordingly. Wall text and our staff are there to guide you through to ensure you
                                experience everything in the best way possible! </p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question">
                            <span>Can I bring food and beverages into Hopscotch? Do
                                you sell food and beverages at Hopscotch?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Outside food or beverages may not be brought into Hopscotch. There are drinking
                                fountains and a hydration station should you wish to bring a refillable water
                                bottle. We also have bottles available for purchase. </p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Do you sell food and beverages at Hopscotch?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>We have a full menu of alcoholic and non-alcoholic beverages available in our lounge
                                that you can purchase to walk with throughout our space or sit down to enjoy after
                                your experience. You can find the Smack’s Chicken Shack food truck on our patio.</p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Can I book a group outing or event?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>We are strictly following safety restrictions on group outings. To discuss options,
                                pricing and availability please contact us at <a
                                    href="mailto:curate@letshopscotch.com">curate@letshopscotch.com</a>.
                            </p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Are there any rules about taking photos?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>We want you to have fun and enjoy yourself in every moment. Please take as many
                                photos as you like, but also please be considerate of others enjoying the exhibit.
                                We also encourage you to put your phone away at times to fully immerse yourself in
                                the experience. Tripods, excessive props, costume changes, commercial or product
                                shoots, media shoots, press interviews, and all professional video equipment are
                                prohibited without advance approval and accompaniment from a Hopscotch
                                representative. Contact us at opportunity@letshopscotch.com for requests. We are
                                committed to working with and giving back to nonprofit groups in the communities we
                                create in. We strive to support as many local artists and non-profit groups as
                                possible.</p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Do you sell Hopscotch merchandise and other gifts?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Yes! We have a gift shop full of unique curiosities that we encourage you to explore.
                                Our retail area is part of our public space that is open to the public so you don't
                                need a ticket to visit. There are no returns or exchanges on gift shop items.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-section">
                <h3 class="section-title">ACCESSIBILITY</h3>
                <div class="accordion accordionWrapper">
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Is there somewhere to store strollers and other
                            items?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Strollers and large bags will not be allowed into the experience. We will have a
                                small storage area in our lobby that you may check items at if you took public
                                transit. If you drove we kindly ask that you leave large items in your vehicle. In
                                order to fully enjoy the experience we recommend that you be as hands-free as
                                possible. </p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Are there bathrooms?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Yes, we have easily accessible bathrooms available for you to use at any time.</p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Are pets allowed?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>No. Pets, unfortunately, are not allowed. We do allow service animals. </p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Is there a lost and found?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Please be extra diligent in holding on to your belongings, particularly cell phones.
                                In order to fully enjoy the experience we recommend that you be as hands free as
                                possible and leave extra items in your vehicle. We can not guarantee that all lost
                                items will be found and are not responsible for missing items. Please email
                                contact@letshopscotch.com to inquire about a missing item. </p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Are you ADA accessible?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Yes, Hopscotch is ADA accessible.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-section">
                <h3 class="section-title">SAFETY</h3>
                <div class="accordion accordionWrapper">
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>What are your health and safety procedures?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Please visit our <a href="/covid-19">COVID</a> page.</p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Can I wear a costume?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>We love uniqueness and creativity more than anyone. What we don’t love are costumes that
                                obscure your face, have accessories or are culturally inappropriate. Our staff will have
                                the right to refuse you entry if we find you to be in violation of this policy. </p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Do you allow weapons?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>We absolutely do not allow any firearms, knives, weapons or illegal substances of any kind. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-section">
                <h3 class="section-title">GENERAL</h3>
                <div class="accordion accordionWrapper">
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>What is Hopscotch?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Read more about us on our <a href="/about">About</a> page.</p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>Who curated the experience?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>This experience was curated by Hopscotch. We are committed to creating unique, immersive art experiences that are a respite from the outside world and invoke a sense of joy and wonder in our guests. We strive to engage with and support local, national and international artists and give them a platform that allows them to showcase their works. </p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>How long is this here for?</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Hopscotch is here to stay! This is a permanent location rather than a short term exhibition.</p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>I’m visiting from out of town, where should I stay?</span> 
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Email <a href="mailto:contact@letshoshopscotch.com">contact@letshoshopscotch.com</a> and we will send you a list of our favorite hotels in the area!</p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>How can I become part of the Hopscotch team?</span> 
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Please email us at <a href="mailto:join@letshopscotch.com">join@letshopscotch.com</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>