<section class="faq-content">
    <div>
        <h1 class="hero-header">FAQ</h1>

        <div class="faq-container">
            <div class="faq-section">
                <h3 class="section-title">General</h4>
                <div class="accordion accordionWrapper">
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question">What are your helath and safety procedures?
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
                                dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Donec sed odio dui. Vestibulum id ligula porta felis
                                euismod semper. Aenean lacinia bibendum nulla sed consectetur.</p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question">What are your helath and safety procedures?
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
                                dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Donec sed odio dui. Vestibulum id ligula porta felis
                                euismod semper. Aenean lacinia bibendum nulla sed consectetur.</p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question">What are your helath and safety procedures?
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
                                dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Donec sed odio dui. Vestibulum id ligula porta felis
                                euismod semper. Aenean lacinia bibendum nulla sed consectetur.</p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question">What are your helath and safety procedures?
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
                                dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Donec sed odio dui. Vestibulum id ligula porta felis
                                euismod semper. Aenean lacinia bibendum nulla sed consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-section">
                <h3 class="section-title">Ticketing and admission</h4>
                <div class="accordion accordionWrapper">
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question">What are your helath and safety procedures?
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
                                dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Donec sed odio dui. Vestibulum id ligula porta felis
                                euismod semper. Aenean lacinia bibendum nulla sed consectetur.</p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question">What are your helath and safety procedures?
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
                                dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Donec sed odio dui. Vestibulum id ligula porta felis
                                euismod semper. Aenean lacinia bibendum nulla sed consectetur.</p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question">What are your helath and safety procedures?
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
                                dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Donec sed odio dui. Vestibulum id ligula porta felis
                                euismod semper. Aenean lacinia bibendum nulla sed consectetur.</p>
                        </div>
                    </div>
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question">What are your helath and safety procedures?
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
                                dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Donec sed odio dui. Vestibulum id ligula porta felis
                                euismod semper. Aenean lacinia bibendum nulla sed consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>