{#{% set faqs = entry.faqs.all() %}#}
{% set 	faqs = entry.faq2.all() %}
{#
<section class="faq-content">
    <div>
        <h1 class="hero-header">FAQ</h1>

        <div class="faq-container">
            {% for faq in faqs %}
            <div class="faq-section">
                <h3 class="h4 section-title">{{faq.faqSectionTitle}}</h3>
                <div class="accordion accordionWrapper">
                    {% for faqItem in faq.faq %}
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>{{faqItem.question}}</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            <p>{{faqItem.answer}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
#}
<section class="faq-content">
    <div>
        <h1 class="hero-header">FAQ</h1>

        <div class="faq-container">
            {% for faq in faqs %}
            {% set faqTable = faq.faqQuestions.all() %}
            <div class="faq-section">
                <h3 class="h4 section-title">{{faq.faqSection}}</h3>
                <div class="accordion accordionWrapper">
                    {% for faqItem in faqTable %}
                    <div class="accordionItem">
                        <h5 class="accordionItemHeading question"><span>{{faqItem.faqQuestion}}</span>
                            <i></i>
                        </h5>
                        <div class="accordionItemContent close">
                            {{faqItem.faqAnswer}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
