<section class="get-in-touch">
    <div class="screen"></div>
    <div>
        <div class="col one">
            <h3 class="h4">Get in touch</h2>
            {% for contact in entry.contactEmails %}
            <p>{{contact.contact}}
                <a href="mailto:{{contact.contactEmail}}" class="email">{{contact.contactEmail}}</a></p>
            {% endfor %}
        </div>
        <div class="col two">
            <form class="contact" action="">
                <input class="name" type="text" placeholder="Name" aria-label="Name">
                <input class="phone" type="text" placeholder="Phone Number" aria-label="Phone Number">
                <input required class="email" type="email" placeholder="Email Address" aria-label="Email Address">
                <input class="message" type="text" placeholder="What can we help you with?" aria-label="What can we help you with?">
                <div>
                    <input class="submit" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</section>