{% set eatImage = entry.eatImage.one() %}
{% set drinkImage = entry.drinkImage.one() %}
{% set shopImage = entry.shopImage.one() %}
{% set menu = entry.menu.one() %}

<section class="lounge-main">
    <div>
        <div class="hero">
            <h1 class="hero-header">{{entry.mainHeader}}</h1>
            <p class="is-large">{{entry.loungeIntroParagraph}} </p>
        </div>
        <div class="lounge-sections">
            <div class="section">
                <div class="content">
                    <h3>{{entry.drinkHeader}}</h3>
                    {{entry.drinkContent}}
                    <div class="button-container-threeD menu-button">
                        <a href="{{menu.url}}" target="_blank" class="play-button">View Menu
                            <div class="left"></div>
                            <div class="bottom"></div>
                        </a>
                    </div>
                </div>
                <div class="img-container">
                    <img src="{{drinkImage.url}}" alt="Drink">
                </div>
            </div>
            <div class="section" data-animateInView>
                <div class="content">
                    <h3>{{entry.eatHeader}}</h3>
                    {{entry.eatContent}}
                </div>
                <div class="img-container">
                    <img src="{{eatImage.url}}" alt="Eat">
                </div>
            </div>
            <div class="section" data-animateInView>
                <div class="content">
                    <h3>{{entry.shopHeader}}</h3>
                    {{entry.shopContent}}
                </div>
                <div class="img-container">
                    <img src="{{shopImage.url}}" alt="Shop">
                </div>
            </div>
        </div>
    </div>
</section>
<div class="scroller-tagline">
    <div class="wrapper">
        <div class="scroller">
            <p>“So inventive and fun that I felt like a kid again.” – <span>STACY (HOUSTON, TX)</span></p>
            <p>“So inventive and fun that I felt like a kid again.” – <span>STACY (HOUSTON, TX)</span></p>
            <p>“So inventive and fun that I felt like a kid again.” – <span>STACY (HOUSTON, TX)</span></p>
        </div>
    </div>
</div>