{#<div class="graphic-container-mobile">
    {% include './fragments/home-pattern-mobile.html' %}
</div>#}
<section class="opening-soon">
    <div>
        <div class="content" data-animateInView>
            <img src="/media/badges/OpeningSoon-Graphic.svg" alt="Opening Soon">
            <p class="is-large" >
                {{entry.homeOpeningSoon}}
            </p>
        </div>
        <div class="graphic-container">
            {% include './fragments/home-pattern.html' %}
        </div>
    </div>
</section>