<section class="policy-content">
    <div>
        <h1 class="hero-header">Policy</h1>
        <div class="content">
            <ol>
                <li>
                    <h4>Our commitmnt to your privacy</h4>
                    <div class="policy">
                        <p>Three hour validated parking will be provided for all guests who park in the Travis Park
                            Plaza Garage. Enter off of Travis Street between Navarro and St. Mary’s. Bring your parking
                            ticket with you and show it to Hopscotch staff to receive your validation. </p>
                    </div>
                </li>
                <li>
                    <h4>KINDS OF INFORMATION COLLECTED BY US</h4>
                    <div>
                        <p>Nonpublic personal information means the nonpublic information about you that is obtained by
                            us in connection with providing you information on some of our products, events and
                            services. We may collect nonpublic personal information from you when you visit the Web
                            Site.
                        </p>
                        <p>In general, you can visit our Web Site without telling us who you are or revealing any
                            information about yourself. Our Web servers may collect anonymous, aggregated information
                            such as when you visited our site, how long you stayed, where you went while you were here
                            and if you linked here from another site. Hopscotch aggregates such information to measure
                            the use of our Web Site and to improve its content. We may also collect certain information
                            about you, such as your IP (Internet Protocol) addresses, domain name, links you clicked on
                            to reach the Web Site, and information regarding your operating system and browser when you
                            browse the Web Site.</p>
                        <p>We may collect nonpublic personal information from you, only if you provide the information
                            to us voluntarily. The Web Site provide several opportunities for users to provide personal
                            information about themselves to help us provide our users with better service. For example,
                            we collect information about you when you send us a request for more information about the
                            products, services, and information listed on the Web Site, or if you have a question or
                            comment on our Web Site. We also collect information about you when you send an e-mail to
                            our webmaster, so that we may respond to your message. We collect no personally identifying
                            information about you except when you specifically and knowingly provide it.</p>
                    </div>
                </li>
                <li>
                    <h4>HOW WE MAY USE AND DISCLOSE YOUR INFORMATION</h4>
                    <div>
                        <p>Generally, we do not disclose your nonpublic personal information to third parties. However,
                            we may disclose aggregated information without your permission. Further, we may use and
                            disclose your information both internally and externally, including without limitation, as
                            described herein.</p>
                        <p>We will not sell your information to any other company however, you should be aware that
                            Hopscotch may use this information that you supply about yourself for promotional or
                            marketing purposes.</p>
                        <p>We will not disclose any nonpublic personal information about our current or former customers
                            or consumers to anyone, except as permitted or required by law, or as described below.</p>
                        <p>We may disclose all of the information we collect about you to our affiliates and to
                            nonaffiliated third-parties that perform services on our behalf, including, but not limited
                            to, marketing services, or other financial institutions with whom we have joint marketing
                            agreements.</p>
                        <p>If we collect nonpublic personal information from you to provide third-party financial
                            products and services requested by you, such third-party’s use of your personal information
                            will be subject to their privacy policy as disclosed to you by them.</p>
                        <p>We sometimes engage third parties, such as contractors, to provide certain operational
                            services to us or on our behalf. We may share your information with those third parties on a
                            need to know basis. In addition, we may enter into certain marketing relationships with
                            third parties to provide you with better service. We may share some of your nonpublic
                            personal information with those parties. However, you are under no obligation to respond to
                            any requests from those third parties.</p>
                    </div>
                </li>
                <li>
                    <h4>HOW YOU CAN OPT-OUT, ACCESS, UPDATE, OR DELETE YOUR INFORMATION</h4>
                    <div>
                        <p>You can see, review and change your information by sending a request to
                            webmaster@hopscotch.com. At any time, you may also request us to delete your information by
                            sending us an email at webmaster@hopscotch.com Although, we will make every effort to delete
                            your information from our databases, and inform third-parties to whom we have provided a
                            link on the Web Site to do the same, we may need to retain your information in our archives
                            and records in order to comply with law, resolve disputes, troubleshoot problems, assist
                            with investigations, enforce our Web Site Terms of Use, and other policies, and take other
                            actions otherwise permitted by law.</p>
                    </div>
                </li>
                <li>
                    <h4>HOW WE PROTECT YOUR INFORMATION</h4>
                    <div>
                        <p>We have procedures in place that limit access to nonpublic personal information to those
                            employees and other individuals who need to know such information to provide products and
                            services to you. We will maintain physical, electronic, and procedural safeguards to protect
                            the confidentiality of your nonpublic personal information as required by law. However, such
                            precautions do not guarantee the absolute safety of your data, and Hopscotch makes no
                            guarantees, warranties or representation that your information is protected from viruses and
                            other security attacks. Further, while Hopscotch follows appropriate procedures to ensure
                            that third parties will keep your information secure, Hopscotch cannot make any guarantees
                            with respect to the actions or policies of such third parties.</p>
                    </div>
                </li>
                <li>
                    <h4>LINKS ON OUR WEBSITE</h4>
                    <div>
                        <p>Our privacy policies apply only to your use of the Web site. The Web Site contains links to
                            other sites. We are not responsible for the privacy practices of those sites, even if they
                            bear our logo and name. Links to other sites do not imply an endorsement of the materials or
                            policies on those Web Sites. You should read the privacy policies of each site you visit to
                            determine what information that site may be collecting about you.</p>
                    </div>
                </li>
                <li>
                    <h4>USE OF COOKIES</h4>
                    <div>
                        <p>When you visit the Web Site, Hopscotch places a cookie in the browser files of your computer.
                            A cookie is a file that tracks what you do on the Web Site. Our cookie does not collect any
                            personally identifying information about you. We use the information it collects for
                            administrative purposes and to understand how visitors use our site. The majority of Web
                            browsers accept cookies, but the help menu on your browser should give you options for
                            preventing, accepting, or receiving notice of new cookies. However, please be aware that if
                            you block cookies, some Web site functionality may be lost. You consent to the placement of
                            cookies on your hard drive when you visit the Web Site.</p>
                    </div>
                </li>
                <li>
                    <h4>GENERAL</h4>
                    <div>
                        <p>Users should be aware that Hopscotch has no control over any information that users may
                            disclose to other users of the Web Site. Please notify Hopscotch immediately if you discover
                            that any user of the Web Site is improperly collecting or using personally identifying
                            information of users of the Web Site.</p>
                        <p>We know that online security is a serious matter. At Hopscotch, we consider your online
                            security an important factor of our commitment to overall customer satisfaction. For
                            additional information on your privacy rights concerning data collected by Web sites, refer
                            to the Federal Trade Commission’s How to Protect Your Privacy pamphlet.</p>
                        <p>This Privacy Policy will be updated periodically and posted on the Web Site. It applies to
                            the online practices of Hopscotch and its divisions. References to Hopscotch, we, us and our
                            are references to Hopscotch and its respective divisions and affiliates. We reserve the
                            right to change or update this Privacy Policy at any time, without notice, by posting
                            revisions on the Web Site. You agree to review the Privacy Policy each time you use the Web
                            Site so that you are aware of any modifications. By accessing or using the Web Site, you
                            agree to be bound by all of the terms and conditions of this Privacy Policy as posted at the
                            time of your access or use.</p>
                        <p>This Privacy Policy is incorporated by reference in and is a part of the Web Site Terms of
                            Use agreement. If you have any questions or comments about this Privacy Policy please
                            contact Hopscotch at webmaster@hopscotch.com</p>
                        <p>This Privacy Policy is effective as of April 2020.</p>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</section>