<div class="sign-up" id="signUp-modal">
    <div class="form-container" id="mc_embed_signup">
        <h4>SIGN UP FOR EMAILS</h4>
        <p>Join our mailing list for updates and ticket releases</p>
        <form action="https://letshopscotch.us19.list-manage.com/subscribe/post?u=135731d3fd486378fd4b50a4d&amp;id=4825f4a840" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input required type="text" value="" name="FLNAME" class="required name" id="mce-FLNAME" placeholder="First + Last Name">
            <input type="text" value="" name="MMERGE2" class="zip" id="mce-MMERGE2" placeholder="Zip Code">
            <input required type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
            <div>
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>   
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_135731d3fd486378fd4b50a4d_4825f4a840" tabindex="-1" value=""></div> 
        </form>
        <div class="button-container-threeD toggle-open" id="news-close">
            <div class="play-button" >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.41 12.41">
                    <title>close</title>
                    <g id="ab1752ca-ec16-4e06-a177-a07fd2c289e3" data-name="Extras">
                        <polygon
                            points="12.41 2.75 9.66 0 6.21 3.46 2.75 0 0 2.75 3.46 6.21 0 9.66 2.75 12.41 6.21 8.95 9.66 12.41 12.41 9.66 8.95 6.21 12.41 2.75"/>
                    </g>
                </svg>
                <div class="left"></div>
                <div class="bottom"></div>
            </div>
        </div>
    </div>
</div>