<div class="sign-up" id="signUp-modal">
    <div class="form-container">
        <h4>SIGN UP FOR EMAILS</h4>
        <p>Join our mailing list for updates and ticket releases</p>
        <form action="">
            <input type="text" class="name" placeholder="First + Last Name">
            <input type="text" class="zip" placeholder="Zip Code">
            <input type="text" class="email" placeholder="Email Address">
            <div>
                <button type="submit">Subscribe</button>
            </div>
        </form>
        <div class="button-container-threeD toggle-open" id="news-close">
            <div class="play-button" >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.41 12.41">
                    <title>close</title>
                    <g id="ab1752ca-ec16-4e06-a177-a07fd2c289e3" data-name="Extras">
                        <polygon
                            points="12.41 2.75 9.66 0 6.21 3.46 2.75 0 0 2.75 3.46 6.21 0 9.66 2.75 12.41 6.21 8.95 9.66 12.41 12.41 9.66 8.95 6.21 12.41 2.75"/>
                    </g>
                </svg>
                <div class="left"></div>
                <div class="bottom"></div>
            </div>
        </div>
    </div>
</div>