<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>Hopscotch</title>

<meta property="og:image" content="/media/seo/Hopscotch-OpenGraph-A.png">
<meta property="og:site_name" content="Hopscotch">
<meta property="og:locale" content="en_US">
<meta property="og:title" content="Hopscotch">
<meta name="author" content="Hopscotch">
<meta name="copyright" content="Hopscotch">
<meta property="og:type" content="website">

<meta property="og:description"
    content="Coming soon to downtown San Antonio, Hopscotch gallery features immersive and interactive art experiences. A platform for local, national and international artists to experiment with a wide spectrum of mediums and technology, Hopscotch's aim is to elicit a sense of joy and wonder.">


<!-- Favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="/media/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/media/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/media/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/media/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/media/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/media/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/media/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/media/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/media/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/media/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- END Favicon -->