/*----------------------------------------------------------------*\
		MAIN NAV
\*----------------------------------------------------------------*/

div.modal {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    // width: 100vw;
    // height: 100vh;
    z-index: 500;
    background-color: rgba($color: #fff, $alpha: 0.9);

    @media screen and (min-width: $mobile-BP) {
        width: 100vw;
        height: 100vh;
    }

    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-y: scroll;
        height: 100vh;
        padding-top: 100px;

        @media screen and (min-width: $mobile-BP) {
            height: 100%;
            padding-top: 0px;
        }
    }

    .content {
        padding: 0px 40px;
        display: flex;
        max-width: 1200px;
        margin: auto;
        flex-direction: column;
        // padding-top: 300px;

        @media screen and (min-width: $mobile-BP) {
            flex-direction: row;
            padding: 0px 80px;
            padding-top: 0;
        }

        .column {
            width: 100%;

            @media screen and (min-width: $mobile-BP) {
                width: 50%;
                padding-top: 80px;
                padding-bottom: 80px;
                display: flex;
                flex-wrap: wrap;

                * {
                    width: 100%;
                }

                &.one {
                    padding-right: 50px;
                    border-right: 2px solid black;
                }

                &.two {
                    padding-left: 50px;
                }
            }

            h2 {
                font-size: 25px;
                text-transform: uppercase;
                margin-bottom: 20px;
                margin-top: 50px;
            }

            p {
                margin-top: 0;
            }

            a {
                font-weight: bold;
                text-decoration: none;
            }

            .sub-container {
                margin-top: 50px;
            }

        }
    }

    .copy {
        padding-bottom: 30px;
        margin-top: 50px;
        text-align: left;
        padding: 0px 40px 40px;

        @media screen and (min-width: $mobile-BP) {
            padding: 0px;
            margin-top: 0;
            text-align: center;
        }

        p {
            font-size: 15px;
            margin-bottom: 8px;
            line-height: 1;
            margin-top: 0;

            a {
                text-decoration: none;
            }
        }
    }
}