<nav class="main-nav">
    <div class="inner">
        <div class="logo"><a href="/"><img src="/media/logos/Hopscotch-Logo-white.svg" alt="Hopscotch"></a></div>
        <div class="links-container">
            <a href="/about">About</a>
            <a href="/faq">faq</a>
            <a href="/contact">Contact</a>
            <div class="button-container-threeD news-open" id="news-open-two">
                <a href="#" class="play-button">Get Tickets
                    <div class="left"></div>
                    <div class="bottom"></div>
                </a>
            </div>
        </div>
    </div>
</nav>