{% set range = range(6, 7) %}
{% set randomImg = random(range) %}

<div class="bkg-container">
    <div class="bkg" style="background-image: url(/media/coming-soon/{{randomImg}}.jpg);"></div>
</div>
<div class="main-container">
    <div class="hero">
        <div class="heroScroll-wrapper">
            <div class="hero-header" data-animateInView>
                <h1 role="text" id="hero-header-animation" aria-label='Comming Soon To San Antonio' data-letterWrapping data-spaces data-wrapper="div aria-hidden='true'"
                    data-wrappingClass="stroked-header letter">COMING SOON TO DOWNTOWN SAN ANTONIO</h1>
            </div>
        </div>
    </div>
</div>


